*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  scroll-behavior: smooth;
}

body {
  --main-color: #08c5d1;
  --dark-color: #00353f;
  --light-color: #b4ededd2;
  --amber-color: #ffbf66;

  --main-font: "Poppins", sans-serif;
  background: var(--light-color);
  margin-top: 4rem;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: inline-flex;
  align-items: center;
  background: var(--dark-color);
  padding: 0 3rem;
  height: 4rem;
  z-index: 30;
}

.branding {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: start;
  align-items: center;
}

.branding img{
  width: 30px;
  margin-right: 8px;
}

.logoText {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--main-color);
}

.dropMenu {
  display: none;
}

nav ul {
  display: inline-flex;
  width: max-content;
}

.navList {
  list-style: none;
}

.navLink {
  text-decoration: none;
  padding: 0 1.5rem;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--light-color);
}

.navLink:hover {
  color: var(--main-color);
}

.container {
  display: flex;
  align-items: center;
  padding: 4rem;
  height: max-content;
  width: 100%;
}
.imgContent {
  display: flex;
  min-width: 18rem;
  width: 23rem;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.imgHead {
  margin-bottom: 2rem;
  width: 70%;
  filter: hue-rotate(15deg);
  z-index: 10;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding-left: 3rem;
  padding-bottom: 3rem;
  z-index: 10;
}
.contentTextHead,
.contentTextHead span {
  font-size: 2.6rem;
  line-height: 3.2rem;
  font-weight: 700;
  font-family: var(--main-font);
  width: 90%;
  margin-bottom: 1rem;
}

.contentTextHead span {
  color: var(--main-color);
  text-shadow: 0.2rem 0.2rem 0.1rem #fff;
}

.textContent p {
  width: 75%;
}

.download_btn {
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;
  background: #000;
  width: 10rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
}
.download_btn img {
  width: 1.8rem;
  margin-right: 0.5rem;
}
.download_btn-text {
  color: #eee;
  font-family: sans-serif;
  font-size: 0.6rem;
}

.download_btn:hover {
  box-shadow: 0.3rem 0.3rem var(--main-color);
}

/* Refer Code */
.refcode-show {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 2rem;
  background: #000;
  overflow: hidden;
  display: none;
}

#refcode {
  color: var(--amber-color);
  animation: 10s linear infinite running slidein;
  font-family: var(--main-font);
  font-size: 1.2rem;
  word-break: break-all;
}

@keyframes slidein {
  from {
    margin-left: -200px;
  }
  to {
    margin-left: 110%;
  }
}

/* slider */
/* #slider{
  width: inherit;
  display: flex;
  justify-content: center;
}
#slider>a>img {
  height: 14rem;
  margin: 5px;
} */

.sectionTittle {
  text-align: center;
  margin: 1rem 0;
}

/* Pricing */
#pricing {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: .5rem;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 16rem;
  height: 22rem;
  margin: 0.5rem;
  padding: 0.2rem;
  align-items: center;
  /* border-radius: 1rem; */
  background: linear-gradient(15deg, var(--main-color), var(--dark-color));
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  transition: 0.5s all ease;
  box-shadow: 1rem 1.2rem 2rem var(--color-primary);
  z-index: 10;
}

.card:hover {
  border-radius: 1rem;
}

.card-tittle {
  width: 100%;
  padding: 0.5rem 0;
  font-family: var(--font-primary);
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
}

.card-img {
  width: 9rem;
  height: 5rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

.card-body {
  width: 100%;
}
.card-body p {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
}

.card-btn {
  margin: 0.8rem 0;
}

.pricing-btn {
  background-color: var(--dark-color);
  color: var(--light-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 5rem;
}
.pricing-btn:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.cardImage {
  width: 100%;
  height: 8rem;
  margin-bottom: 1rem;
}
#aboutSection {
  padding: 3rem;
}
#aboutSection h1 {
  text-align: center;
  border-bottom: 1px solid var(--amber-color);
}

#aboutSection h2 {
  color: #00353f;
  text-align: center;
  margin-bottom: 0.5rem;
}

#aboutSection p {
  text-align: center;
}

.footer-copyright {
  background-color: var(--dark-color);
  padding: 1rem 3rem;
  color: #08c5d1;
}

.icons-partnership {
  display: flex;
  justify-content: center;
}

footer h2,
footer p {
  text-align: center;
}
footer h2 {
  color: var(--dark-color);
  font-size: 1.4rem;
  margin-bottom: .5rem;
}

.icons-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: .5rem;
  padding: 0 1rem;
}

.icons-list > img {
  width: 1.6rem;
  margin: 3px 8px;
}
