@media screen and (max-width: 901px) {
  body {
    overflow-x: hidden;
  }

  .refcode-show {
    text-align: center;
  }
  #refcode {
    animation: none;
  }

  header {
    z-index: 40;
    display: block;
  }

  .branding {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logoText {
    display: block;
    font-size: 1.5rem;
  }

  nav {
    position: relative;
    left: -2.2rem;
    top: -3.4rem;
    display: inline-block;
    padding-bottom: 1.6rem;
    transition: 0.5s ease;
    padding: 0.5rem 1rem;
  }

  .dropMenu {
    display: block;
    width: 1.2rem;
    position: relative;
    cursor: pointer;
    transform: rotate(-90deg);
    transition: 0.5s ease;
  }

  .rotate90Deg {
    transform: rotate(0);
  }

  /* nav:hover .dropMenu{
    transform: rotate(0);
  } */

  .nav:hover {
    padding-right: 0;
  }

  nav ul {
    position: relative;
    top: 1.2rem;
    left: -1.2rem;
    z-index: 20;
    background: var(--dark-color);
    display: none;
  }

  .showNav {
    display: block;
  }

  .navList {
    text-align: left;
  }

  .navLink:hover {
    color: var(--dark-color);
    background-color: #ddd;
  }

  .navLink {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    color: var(--light-color);
    font-size: 0.8rem;
  }

  #homeContainer {
    flex-direction: column;
  }

  .container {
    padding: 0 3rem;
  }

  .textContent {
    width: 100%;
    margin-top: 3.2rem;
  }

  .imgHead {
    margin-bottom: 4rem;
  }

  /* nav:hover .navUl {
    display: block;
  } */


  /* #slider>a>img {
    height: 10rem;
    margin: 5px;
    width: 15rem;
  } */
}





@media screen and (max-width: 480px) {
  .textContent {
    width: 100%;
    padding: 0;
    margin-top: 2rem;
  }
  .contentTextHead,
  .contentTextHead span {
    font-size: 1.6rem;
    line-height: 2.4rem;
    width: 100%;
  }

  .imgContent {
    padding-top: 2.2rem;
  }
  .logoText {
    font-size: 1.2rem;
  }
  .navUl {
    margin-top: 0.5rem;
  }
  .dropMenu {
    margin-top: 0.5rem;
    width: 1rem;
  }

  #slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
  }
  #slide-container {
    background: #ddd;
    width: 22rem;
    height: 10rem;
    display: flex;
    overflow: hidden;
  }
  #slide-container a{
    animation: slideImg 9s infinite ease;
  }
  
  #slide-container a>img{
    height: 12rem;
    width: 22rem;
  }

  @keyframes slideImg {
    0% {
      transform: translateX(0rem);
    }
    25% {
      transform: translateX(-22rem);
    }
    50% {
      transform: translateX(-44rem);
    }
    75% {
      transform: translateX(-22rem);
    }
    100%{
      transform: translateX(0rem);
    }
  }
}

